<ul id="lists">
  <% sort_lists(@lists) do |list| %>
    <li class="<%= list_class(list) %>">
      <a>
        <h2><a href="/lists/<%= list[:id] %>"><%= list[:name] %></a></h2>
        <p><%= num_complete(list) %> / <%= list[:todos].size %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>